apiVersion: v1
kind: ConfigMap
metadata:
  name: envoy-config
  namespace: envoy
data:
  envoy.yaml: |
    static_resources:
      listeners:
        - name: listener_0
          address:
            socket_address:
              address: 0.0.0.0
              port_value: 8080
          filter_chains:
            - filters:
                - name: envoy.filters.network.http_connection_manager
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                    stat_prefix: ingress_http
                    codec_type: AUTO
                    route_config:
                      name: local_route
                      virtual_hosts:
                        - name: local_service
                          domains: ["*"]
                          routes:
                            - match:
                                prefix: "/health"
                              direct_response:
                                status: 200
                                body:
                                  inline_string: '{"status": "healthy", "service": "envoy-proxy"}'
                            - match:
                                prefix: "/"
                              direct_response:
                                status: 200
                                body:
                                  inline_string: '{"message": "Hello from Envoy! CD is working!", "deployed_by": "ArgoCD", "updated": "2025-12-24"}'
                    http_filters:
                      - name: envoy.filters.http.router
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
      clusters: []
    admin:
      address:
        socket_address:
          address: 0.0.0.0
          port_value: 9901
